<a href="https://colab.research.google.com/github/Nasreen69/Python/blob/main/DATA_STRUCTURES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***STRINGS***

### *STRING METHODS*

*Immutable(cant modify) sequence data type, group of characters wrapped inside single, double, or triple quotes*

In [ ]:
my_str1 = "I enjoy coding in Python.\nPython is easy to learn.\nI've been coding in Python for 3 years now.:)"
my_str2 ="Nashu working hard to do miracles: Nashu "
my_str3 = "Nashu has skillset, Nashu can create innovative things, Nashu is self-motivated"
my_str4 = "python"
my_str5 = "Hello Magical world"  
txt = "HELLO, AND WELCOME TO MY WORLD!"

print("TITLE:", my_str2.title())
print("LENGTH:", len(my_str2))
print("COUNT:", my_str2.count('N', 3))
print(my_str2.count("N", 3, 8)) #count(string,begin,end)/count(sub[, start[, end]]) sub(required),start,end(optional) #print("occurences:", oc)

print("FIND:", my_str2.find("Nasreen"))  #-1 error couldnt find, if it returns 18 then it exists
print("INDEX", my_str2.index("Nashu"))
print("REVERSE:", my_str4[::-1])

print("LOWER:", my_str2.lower())     # Make str to lower case
print("LOWER:", txt.casefold())
print("UPPER:", my_str2.upper())
print("CAPITAL:",my_str4.capitalize()) # Converts 1st letter to uppercase
print("SWAPSPACE:", my_str5.swapcase()) # Converts case of the string characters from uppercase to lowercase and vice versa.


print("\n")
print("REPLACE:", my_str1.replace("Python", "SQL"))  #print(my_str1.replace("PYTHON", "SQL", 2))
print("REPLACE:", my_str3.replace("Nashu", "Nasreen", 2))

print("\n******FORMAT********")
print("{} and {} are friends".format("Mano","Nashu")) #format 
print("{1} and {0} are friends".format("Mano","Nashu"))
print("{a}, {b} are friends".format(a="Mano",b="Nashu"))

print("\n")
print("STRIP:", my_str3.strip())  # removes any whitespace from the beginning or the end:
print("SPLIT:", my_str3.split())  # splits the string into substrings if it finds instances of the separator: splitlines

new_str = my_str1+my_str2  #concatination
print("CONCATENATION:", new_str)
my_str4.isdigit()

print('------------------------------------------------------')

print("python:includes 2 excludes 5:", my_str4[2:5])
print("python:", my_str4[:5]) # my_str4[:-1]
print("python:", my_str4[2:])
print("python:", my_str4[-5:-2])
print("center:", my_str4.center(20)) # my_str4.center(20, ".")
print("encode:", my_str4.encode())  
print("endswith:", txt.endswith("MY WORLD!"))        # my_str4.endswith("my world.", 5, 11)

#print("Escape Characters: \', \\, \n, \r, \t, \b, \f, \ooo, \xhh")

TITLE: Nashu Working Hard To Do Miracles: Nashu
LENGTH: 41
COUNT: 1
0
FIND: -1
INDEX 0
REVERSE: nohtyp
LOWER: nashu working hard to do miracles: nashu
LOWER: hello, and welcome to my world!
UPPER: NASHU WORKING HARD TO DO MIRACLES: NASHU
CAPITAL: Python
SWAPSPACE: hELLO mAGICAL WORLD


REPLACE: I enjoy coding in SQL.
SQL is easy to learn.
I've been coding in SQL for 3 years now.:)
REPLACE: Nasreen has skillset, Nasreen can create innovative things, Nashu is self-motivated

******FORMAT********
Mano and Nashu are friends
Nashu and Mano are friends
Mano, Nashu are friends


STRIP: Nashu has skillset, Nashu can create innovative things, Nashu is self-motivated
SPLIT: ['Nashu', 'has', 'skillset,', 'Nashu', 'can', 'create', 'innovative', 'things,', 'Nashu', 'is', 'self-motivated']
CONCATENATION: I enjoy coding in Python.
Python is easy to learn.
I've been coding in Python for 3 years now.:)Nashu working hard to do miracles: Nashu
------------------------------------------------------
python:includes 2 excludes 5: tho
python: pytho
python: thon
python: yth
center:        python
encode: b'python'
endswith: True
True

In [ ]:
string = "Python42"
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print("alphanumeric:", string.isalnum())  # returns alphabet letter (a-z) and numbers (0-9) not (space)!#%&? etc.
print("alphabet:", string.isalpha())
print("Decimal check:", a.isdecimal(), b.isdecimal())
print("Digit check:", a.isdigit())
print("Identifier:", string.isidentifier()) #contains alphanumeric letters (a-z) and (0-9), or underscores (_) cannot start with number
print("case check:", string.islower())
print("case check:", string.isupper())
print("Numeric check:", string.isnumeric())
print("printable:", string.isprintable())
print("space check:", string.isspace())
print("Title check:", string.istitle()) #all words in a text start with a upper case letter, AND the rest of the word are lower case letters
print("partition:", string.partition('42'))

alphanumeric: True
alphabet: False
Decimal check: True False
Digit check: True
Identifier: True
case check: False
case check: False
Numeric check: False
printable: True
space check: False
Title check: True
partition: ('Python', '42', '')

ERRORS

In [ ]:
'''print(my_str.len())   AttributeError: 'str' object has no attribute 'len' 
   IndexError: string index out of range
   TypeError: 'str' object does not support item assignment
   TypeError: 'str' object doesn't support item deletion
   NameError: name 'str1' is not defined
   SyntaxError: invalid syntax
   SyntaxError: unexpected EOF while parsing
'''
'love coding in python'

In [ ]:
message = """
Never gonna give you up
Never gonna let you down
"""

print(message)

Never gonna give you up
Never gonna let you down

In [ ]:
txt = "Hello Fruity!"
x = "ytiurF"  
y = "uuhsaN"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hello Nashuu!

# ***LISTS***

### ***List Methods***

*Mutable, collection of values or items of different types separated with comma*

In [ ]:
del list

In [41]:
print(list)

<class 'list'>

In [42]:
my_list = [1,2,3,4,5,6,7] 
my_list1 = list(range(8,11))  #my_list1 = [8,9,10,11] 
my_list4 = [6,3,2,8,4,9]

print("CREATE:", my_list1 )
print("CREATE AND REVERSE:", list(range(5, -1, -1)))
print("REVERSE:", my_list[::-1])  # my_list.reverse()
print("COUNT:", my_list.count(1))

my_list.insert(1, "9")
print("INSERT:", my_list)

my_list1.append(my_list)   # my_list1.extend(my_list)
print("APPEND ITEMS:", my_list1) # Adding items at end of list

my_list2 = my_list1.copy()
print("COPY ITEMS:", my_list2)

y = my_list.index(4)
print("POSITION:", y)

z = my_list.pop(2)
print("DELETE:", z, my_list)

r = my_list.remove(3)
print("REMOVE :", r, my_list)

x = my_list1.clear()
print("REMOVE ITEMS:", x)

my_list4.sort()
print("SORT:", my_list4)

list = [2, 4, 0, 3, 6, 9, 7, 8, 1]
print("\n Particular Items in list")
print(list[0:6])
print(list[:])  
print(list[2:5])  
print(list[1:6:2]) 

print(list[-1])  
print(list[-3:])  
print(list[:-1])  
print(list[-3:-1])

CREATE: [8, 9, 10]
CREATE AND REVERSE: [5, 4, 3, 2, 1, 0]
REVERSE: [7, 6, 5, 4, 3, 2, 1]
COUNT: 1
INSERT: [1, '9', 2, 3, 4, 5, 6, 7]
APPEND ITEMS: [8, 9, 10, [1, '9', 2, 3, 4, 5, 6, 7]]
COPY ITEMS: [8, 9, 10, [1, '9', 2, 3, 4, 5, 6, 7]]
POSITION: 4
DELETE: 2 [1, '9', 3, 4, 5, 6, 7]
REMOVE : None [1, '9', 4, 5, 6, 7]
REMOVE ITEMS: None
SORT: [2, 3, 4, 6, 8, 9]

 Particular Items in list
[2, 4, 0, 3, 6, 9]
[2, 4, 0, 3, 6, 9, 7, 8, 1]
[0, 3, 6]
[4, 3, 9]
1
[7, 8, 1]
[2, 4, 0, 3, 6, 9, 7, 8]
[7, 8]

In [40]:
lst = list(map(int, input().split()))   #10, 11, 12, 13, 14, 15, 16
lst.reverse()                                                                 
print("Using reverse() ", lst)
print("Using reversed() ", list(reversed(lst)))

10 11 12 13 14 15 16
Using reverse()  [16, 15, 14, 13, 12, 11, 10]
Using reversed()  [10, 11, 12, 13, 14, 15, 16]

# ***DICTIONARY***

*datatype which store the data in a key-value pair format*

*It is an unordered and changeable collection type*

In [67]:
Dict = {}
Dict1 = dict([(1, 'Nashu'), (2, 'Afreen')]) 
Dict2 = {"Name": "Taufiq", "Age": 29, "salary": 25000, "Company":"GOOGLE"}  
x = {"Hyderabad", "Bangalore" "Aurangabad", "Pune" }

Dict[0] = 'Peter'
Dict[1] = 'Joseph'
Dict[2] = 'Ricky'
Dict[3] = 'Nashu'
Dict['Emp_ages'] = 20, 33, 24
print("Creating Dictionary:", Dict)
print("Creating Dictionary:", dict.fromkeys(x))
print("Deleting a key:", Dict.pop(2), Dict)

dict3 = Dict1.copy()
print("COPY:", dict3)
print("GET VALUE:", dict3.get(1))
print("GET ITEMS:", dict3.items())  #return key-value pair
print("GET VALUES:", dict3.keys())
print("DELETE:", dict3.pop(1))
print("Remove Last Item:", Dict2.popitem())
print("GET VALUE OF ITEM:", Dict2.setdefault("Company", "AMAZON"))
print("UPDATE:", Dict2.update({"ID": "46328"}), Dict2)
print("DELETE VALUES:", dict3.clear(), dict3)

#del Dict["Nashu"]
#print("Deleting element:")

print("Name:%s"%Dict2["Name"])
print("Age:%d"%Dict2["Age"])
print("salary:%d"%Dict2["salary"])
print("Company:%s"%Dict2["Company"])

Creating Dictionary: {0: 'Peter', 1: 'Joseph', 2: 'Ricky', 3: 'Nashu', 'Emp_ages': (20, 33, 24)}
Creating Dictionary: {'Hyderabad': None, 'BangaloreAurangabad': None, 'Pune': None}
Deleting a key: Ricky {0: 'Peter', 1: 'Joseph', 3: 'Nashu', 'Emp_ages': (20, 33, 24)}
COPY: {1: 'Nashu', 2: 'Afreen'}
GET VALUE: Nashu
GET ITEMS: dict_items([(1, 'Nashu'), (2, 'Afreen')])
GET VALUES: dict_keys([1, 2])
DELETE: Nashu
Remove Last Item: ('Company', 'GOOGLE')
GET VALUE OF ITEM: AMAZON
UPDATE: None {'Name': 'Taufiq', 'Age': 29, 'salary': 25000, 'Company': 'AMAZON', 'ID': '46328'}
DELETE VALUES: None {}
Name:Taufiq
Age:29
salary:25000
Company:AMAZON

In [68]:
for x in Dict2.values():
  print("Displaying values:", x)

for x in Dict2.keys():
  print("Displaying keys:", x)

for x in Dict2.items():
  print("Displaying items:", x)

for x,y in Dict2.items():
  print("Displaying items:", x,y)

Displaying values: Taufiq
Displaying values: 29
Displaying values: 25000
Displaying values: AMAZON
Displaying values: 46328
Displaying keys: Name
Displaying keys: Age
Displaying keys: salary
Displaying keys: Company
Displaying keys: ID
Displaying items: ('Name', 'Taufiq')
Displaying items: ('Age', 29)
Displaying items: ('salary', 25000)
Displaying items: ('Company', 'AMAZON')
Displaying items: ('ID', '46328')
Displaying items: Name Taufiq
Displaying items: Age 29
Displaying items: salary 25000
Displaying items: Company AMAZON
Displaying items: ID 46328

# ***SETS***

*collection of unordered & unindexed items,each element is mutable,unique and used to remove duplicates*

In [84]:
set4 = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}
set2 = set()
set3 = {1,2,4,4,5,8,9,9,10}
set1 = (1,2,4,4,5,8,9,9,10)
set5 = {"Monday","Tuesday", "Wednesday", "Thursday"}   
set6 = set(["Peter","James","Camroon","Ricky","Donald"])  

print(set4) 
for i in set4:    
    print(i)   

print(type(set4))
print(type(set2))  

print("COUNT:", set1.count(9))
print("INDEX:", set1.index(9))

print("Remove duplicates:", set3)
print("Adding items to the set:" )
set4.add("January");
print(set4)
set4.update(["July", "August", "June"]);
print(set4)

print("Removing items from the set:" )
set4.discard("January"); #if item doesn't exist Python will not give the error
set4.remove("July");    #if item doesn't exist Python will raise an error
print(set4)

print("intersection of the two sets:", set4&set5)
print("intersection of the two sets:", set4.intersection(set5))

print("Difference > subtraction (-) operator:", set4-set5)
print("Difference > difference() method:", set4.difference(set5))
print("Difference > symmetric_difference() method:", set4^set5)
print("Difference > symmetric_difference() method:", set4.symmetric_difference(set5))
print("Union:", set3.union(set5))

print("Set comparisons:superset(>),subset(<),equivalent(==)\n", set4>set5, set4<set5, set4==set5)
print("Set comparisons:issubset(>=/<=),issuperset(>=/<=)n", set4>=set5, set4<=set5)

{'Saturday', 'Friday', 'Monday', 'Thursday', 'Sunday', 'Tuesday', 'Wednesday'}
Saturday
Friday
Monday
Thursday
Sunday
Tuesday
Wednesday
<class 'set'>
<class 'set'>
COUNT: 2
INDEX: 6
Remove duplicates: {1, 2, 4, 5, 8, 9, 10}
Adding items to the set:
{'Saturday', 'Friday', 'Monday', 'Thursday', 'Sunday', 'Tuesday', 'January', 'Wednesday'}
{'Saturday', 'Friday', 'Monday', 'Thursday', 'Sunday', 'June', 'Tuesday', 'January', 'Wednesday', 'August', 'July'}
Removing items from the set:
{'Saturday', 'Friday', 'Monday', 'Thursday', 'Sunday', 'June', 'Tuesday', 'Wednesday', 'August'}
intersection of the two sets: {'Tuesday', 'Wednesday', 'Monday', 'Thursday'}
intersection of the two sets: {'Tuesday', 'Wednesday', 'Monday', 'Thursday'}
Difference > subtraction (-) operator: {'Saturday', 'Friday', 'Sunday', 'June', 'August'}
Difference > difference() method: {'Saturday', 'Friday', 'Sunday', 'June', 'August'}
Difference > symmetric_difference() method: {'Saturday', 'Friday', 'Sunday', 'June', 'August'}
Difference > symmetric_difference() method: {'Saturday', 'Friday', 'Sunday', 'June', 'August'}
Union: {1, 2, 4, 5, 8, 9, 10, 'Monday', 'Thursday', 'Tuesday', 'Wednesday'}
Set comparisons:superset(>),subset(<),equivalent(==)
 True False False
Set comparisons:issubset(>=/<=),issuperset(>=/<=)n True False

In [70]:
print("****Creating a set which have immutable elements****")
set1 = {1,2,3, "JavaTpoint", 20.5, 14}  
print(type(set1)) 

set2 = 0
try:
  set2 = {1,2,3,["Javatpoint",4]}  
  print(type(set2)) 
except Exception as e: 
  print(e)

****Creating a set which have immutable elements****
<class 'set'>
unhashable type: 'list'

# ***TUPLES***

*Immutable sequence data type,collection of comma-separated (,) values enclosed with the small () brackets/parentheses.*

In [85]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thistuple[-4:-1])
print(thislist[-1])
print(thislist[2:5])
print(thislist[0:-3])

('orange', 'kiwi', 'melon')
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']

In [87]:
tup = ("JavaTpoint",) #tuple with single element
tup1 = (10,20,30,40,50,60)  #('1', '2', '3', '4', '5', '6', '7')
tup2 = ('1', '2', '3', '4', '5', '6', '7')
count = 0
for i in tup1:
  print("tuple with index:", "tup1[%d]=%s"%(count,i)) #%sor%d can use
  count +=1
print("***SLICING***")
print(tup2[:5])
print(tup2[2:])
print(tup2[0:])  #print(tup2[:])
print(tup2[0:6:2]) #0 to 6 take 2 steps
print("Negative Indexing:")
print(tup2[-1])
print(tup2[:-1])
print(tup2[-5:-2])
print(tup2[-2:])
print("Concatenation:", tup1+tup2)
print("Length:", len(tup1))
print("Maximum:", max(tup2))
print("Minimum:", min(tup1))

tuple with index: tup1[0]=10
tuple with index: tup1[1]=20
tuple with index: tup1[2]=30
tuple with index: tup1[3]=40
tuple with index: tup1[4]=50
tuple with index: tup1[5]=60
***SLICING***
('1', '2', '3', '4', '5')
('3', '4', '5', '6', '7')
('1', '2', '3', '4', '5', '6', '7')
('1', '3', '5')
Negative Indexing:
7
('1', '2', '3', '4', '5', '6')
('3', '4', '5')
('6', '7')
Concatenation: (10, 20, 30, 40, 50, 60, '1', '2', '3', '4', '5', '6', '7')
Length: 6
Maximum: 7
Minimum: 10

In [89]:
import sys
def cmp(tup1,tup2): 
    return tup1==tup2
tup1 = (10,20,30,40,50,60)  #('1', '2', '3', '4', '5', '6', '7')
tup2 = ('1', '2', '3', '4', '5', '6', '7')
print("Comparison:", cmp(tup1, tup2))

tup1 = (10,20,30,40,50,60)  
tup2 = ('1', '2', '3', '4', '5', '6', '7')
print("Comparison:", tup1 == tup2)
print("Size of tup1: " + str(tup1.__sizeof__()) + "bytes")
print("Size of tup2: " + str(sys.getsizeof(tup2)) + "bytes")

Comparison: False
Comparison: False
Size of tup1: 72bytes
Size of tup2: 96bytes

In [92]:
Langtuple = (1, "C#", 3.4,'C++',False,True)
  
print( Langtuple[::5])
print( Langtuple[::2])
print( Langtuple[:-3])

(1, True)
(1, 3.4, False)
(1, 'C#', 3.4)

In [93]:
listofTuples = [("C#" , 2), ("JS" , 3), ("C#" , 2),("GO" , 23),("Java" , 77)]
 
dictiwithlistof_tuples = dict(listofTuples)
print(dictiwithlistof_tuples)

{'C#': 2, 'JS': 3, 'GO': 23, 'Java': 77}