<a href="https://colab.research.google.com/github/Nasreen69/Python/blob/main/ML_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Bismilla Hirrahma Nirraheem*

# ***MAD***

*Stands for Mean Absolute Deviation*

*collected data set is the average of absolute deviations from a centre point of the data set*

*4 types*

*central tendency -> mean, median, mode,midrange and standard deviation*

https://www.toppr.com/guides/maths/statistics/

# **Mean**  

*is the average of the given numbers and is calculated by*

*myu = (Sum of all the observations/Total number of observations)*

*myu = (n1+n2+n3+n4+n5+.....n)/n*

*https://byjus.com/maths/mean/*

In [ ]:
def mean(numbers):
  
  for i in numbers:
    mean = sum(numbers)/len(numbers)
  return mean

#numbers = [1, 2, 3, 4, 5]  
numbers = []
for i in range(5):
    num = int(input(f"Enter number {i+1}: "))
    numbers.append(num)

result = mean(numbers)
print(f"The mean of {numbers} is {result}")

Enter number 1: 1
Enter number 2: 2
Enter number 3: 3
Enter number 4: 4
Enter number 5: 5
The mean of [1, 2, 3, 4, 5] is 3.0

In [ ]:
def avg(test_list):    # creating function
  sum = 0
  for i in test_list:
     sum = sum+i
  avg = sum/len(test_list)
  return avg

res1 = list(map(int,input().split()))  # calling/initializing function

#res2 = avg(res1)

print(round(avg(res1),2))
#print(round(res2,2))

In [ ]:
import statistics

# create a list of numbers
numbers = [2, 3, 5, 6, 7, 7, 8, 8, 8, 9]

# calculate the mean
mean = statistics.mean(numbers)
print("Mean:", mean)

*array (in the case of NumPy) or a Series/DataFrame (in the case of Pandas)*

In [ ]:
import numpy as np

# Create a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Calculate the mean
mean = np.mean(arr)

print("Mean:", mean)

Mean: 3.0

In [ ]:
import pandas as pd

# Create a Pandas Series
s = pd.Series([1, 2, 3, 4, 5])

# Calculate the mean
mean = s.mean()

print("Mean:", mean)

Mean: 3.0

In [ ]:
SELECT SUM(column_name) / COUNT(column_name) FROM table_name;

SELECT AVG(column_name) AS mean_value FROM table_name;

In [ ]:
import sqlite3
import mysql.connector

# create a connection to the database using sqlite3
conn = sqlite3.connect('example.db')
# create a connection to the database using sqlite3
conn = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object to execute SQL queries
c = conn.cursor()

# execute a query to find the mean of a column
c.execute('SELECT AVG(column_name) FROM table_name;')

# fetch the result of the query
mean_value = c.fetchone()[0]

# close the cursor and connection to the database
c.close()
conn.close()

# print the mean value
print('The mean value is:', mean_value)

# ***Median***

*is the middle value of the given list of data when arranged in an order.* 

*The arrangement of data or observations can be made either in ascending order or descending order.* 

* *So if n is an odd number, M = (n+1/(2))th term*

* *And if n is a even number, M = [ (n/2) + 1 ) th term + n/(2) th term ] รท 2*


***https://byjus.com/maths/median/***

In [ ]:
def median(my_list):
    n = len(my_list)
    sorted_list = sorted(my_list)

    # If the list has an odd number of elements
    if n % 2 != 0:
        median = sorted_list[ n // 2]

    # If the list has an even number of elements
    else:
        median = (sorted_list[(n // 2) - 1] + sorted_list[n // 2]) / 2

    return median

# Create a list of numbers
my_list = [1, 3, 5, 7, 9]

# Call the function to calculate the median
median = median(my_list)

print("Median:", median)

Median: 5

In [ ]:
import statistics

# create a list of numbers
#numbers = [2, 3, 5, 6, 7, 7, 8, 8, 8, 9]
numbers = [1, 3, 5, 7, 9]

# calculate the median
median = statistics.median(numbers)
print("Median:", median)

Median: 5

In [ ]:
import numpy as np

# Create an array of numbers
my_arr = np.array([1, 3, 5, 7, 9])

# Calculate the median
median = np.median(my_arr)

print("Median:", median)

Median: 5.0

In [ ]:
import pandas as pd

# Create a DataFrame of numbers
my_df = pd.DataFrame({'numbers': [1, 3, 5, 7, 9]})

# Calculate the median
median = my_df['numbers'].median()

print("Median:", median)

Median: 5.0

In [ ]:
SELECT AVG(column_name) AS median
FROM (
  SELECT column_name
  FROM table_name
  ORDER BY column_name
  LIMIT 2 - (SELECT COUNT(*) FROM table_name WHERE column_name IS NULL) -- handle null values
  OFFSET (SELECT COUNT(*) FROM table_name WHERE column_name IS NOT NULL) % 2
) AS subset;

In [ ]:
import sqlite3

# create a list of numbers
#numbers = [1, 2, 3, 4, 5]
numbers = [1, 3, 5, 7, 9]

# create a SQLite database in memory and connect to it
conn = sqlite3.connect(':memory:')

# create a table and insert the numbers into it
conn.execute('CREATE TABLE numbers (value REAL)')
for number in numbers:
    conn.execute('INSERT INTO numbers (value) VALUES (?)', (number,))

# calculate the median using the SQL query
result = conn.execute("""
    SELECT AVG(value) AS median
    FROM (
      SELECT value
      FROM numbers
      ORDER BY value
      LIMIT 2 - (SELECT COUNT(*) FROM numbers WHERE value IS NULL)
      OFFSET (SELECT COUNT(*) FROM numbers WHERE value IS NOT NULL) % 2
    ) AS subset;
""").fetchone()[0]

# print the median
print("The median is:", result)

# close the database connection
conn.close()

The median is: 4.0

In [ ]:
import mysql.connector

# create a list of numbers
numbers = [1, 2, 3, 4, 5]

# create a MySQL database connection
cnx = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object to execute SQL queries
cursor = cnx.cursor()

# create a table and insert the numbers into it
create_table_query = "CREATE TABLE numbers (value FLOAT)"
insert_query = "INSERT INTO numbers (value) VALUES (%s)"
cursor.execute(create_table_query)
for number in numbers:
    cursor.execute(insert_query, (number,))

# calculate the median using the SQL query
median_query = """
    SELECT AVG(value) AS median
    FROM (
      SELECT value
      FROM numbers
      ORDER BY value
      LIMIT 2 - (SELECT COUNT(*) FROM numbers WHERE value IS NULL)
      OFFSET (SELECT COUNT(*) FROM numbers WHERE value IS NOT NULL) % 2
    ) AS subset;
"""
cursor.execute(median_query)
result = cursor.fetchone()[0]

# print the median
print("The median is:", result)

# close the cursor and database connection
cursor.close()
cnx.close()

# ***Mode***   

*is the value that is repeatedly occurring in a given set*

*https://byjus.com/maths/mode/*

In [ ]:
def mode(numbers):
    """
    This function takes a list of numbers as input and returns the mode.
    """
    # Create a dictionary to store the frequency of each number
    frequency = {}
    for num in numbers:
        if num in frequency:
            frequency[num] += 1
        else:
            frequency[num] = 1
           
    
    # Find the number(s) with the highest frequency
    max_freq = max(frequency.values())
    modes = []
    for num, freq in frequency.items():   #enumerate function
        if freq == max_freq:
            modes.append(num)
    
    # If there is only one mode, return it
    if len(modes) == 1:
        return modes[0]
    else:
        return modes 

# Example usage
numbers = [3, 6, 2, 4, 3, 7, 3, 9]
result = mode(numbers)
print(result)

3

In [ ]:
data = [1, 2, 2, 3, 4, 5]

# Mode
mode = max(set(data), key=data.count)
print("Mode:", mode)

Mode: 2

In [ ]:
import statistics

# create a list of numbers
#numbers = [2, 3, 5, 6, 7, 7, 8, 8, 8, 9]
Numbers = [3, 6, 2, 4, 3, 7, 3, 9]

# calculate the mode
mode = statistics.mode(numbers)
print("Mode:", mode)

Mode: 1

In [ ]:
import numpy as np
from scipy import stats

data = np.array([1, 2, 2, 3, 3, 3, 4, 4, 5])
mode = stats.mode(data, keepdims=True)

print(mode)

ModeResult(mode=array([3]), count=array([3]))

In [ ]:
import pandas as pd

data = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 5, 6,6])
mode = data.mode()

print(mode)

0    3
dtype: int64

In [ ]:
import sqlite3

# create a list of numbers
numbers = [1, 2, 3, 3, 4, 4, 4, 5]

# create a SQLite3 database connection
conn = sqlite3.connect('example.db')

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# create a table and insert the numbers into it
create_table_query = "CREATE TABLE numbers (value INT)"
insert_query = "INSERT INTO numbers (value) VALUES (?)"
cursor.execute(create_table_query)
for number in numbers:
    cursor.execute(insert_query, (number,))

# calculate the mode using the SQL query
mode_query = """
    SELECT value, COUNT(*) AS count
    FROM numbers
    GROUP BY value
    ORDER BY count DESC
    LIMIT 1;
"""
cursor.execute(mode_query)
result = cursor.fetchone()[0]

# print the mode
print("The mode is:", result)

# close the cursor and database connection
cursor.close()
conn.close()

In [ ]:
import mysql.connector

# create a list of numbers
numbers = [1, 2, 3, 3, 4, 4, 4, 5]

# create a MySQL database connection
cnx = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object to execute SQL queries
cursor = cnx.cursor()

# create a table and insert the numbers into it
create_table_query = "CREATE TABLE numbers (value INT)"
insert_query = "INSERT INTO numbers (value) VALUES (%s)"
cursor.execute(create_table_query)
for number in numbers:
    cursor.execute(insert_query, (number,))

# calculate the mode using the SQL query
mode_query = """
    SELECT value, COUNT(*) AS count
    FROM numbers
    GROUP BY value
    ORDER BY count DESC
    LIMIT 1;
"""
cursor.execute(mode_query)
result = cursor.fetchone()[0]

# print the mode
print("The mode is:", result)

# close the cursor and database connection
cursor.close()
cnx.close()

# ***MSE & RMSE***

*Mean Squared Error is the average of squares of the errors*
*needs a target of prediction or estimation along with a predictor or estimator of given data*

*Root Mean Squared Error is defined as the square root of differences between predicted values and observed values*

* MSE  = (1/n) * ฮฃ (actual โ forecast) 2 

* RMSE = โ [ ฮฃ (Pi โ Oi)2 / n ] 

***https://byjus.com/maths/mean-squared-error/***

In [ ]:
def mse(y_true, y_pred):
    """
    Calculate Mean Squared Error (MSE)
    """
    n = len(y_true)
    sq_err = 0
    for i in range(n):
        sq_err += (y_true[i] - y_pred[i]) ** 2
    mse = sq_err / n
    return mse

def rmse(y_true, y_pred):
    """
    Calculate Root Mean Squared Error (RMSE)
    """
    mse_val = mse(y_true, y_pred)
    rmse = mse_val ** 0.5
    return rmse

y_true = [1, 2, 3, 4, 5]
y_pred = [1.5, 2.5, 3.5, 4.5, 5.5]

print(mse(y_true, y_pred))
print(rmse(y_true, y_pred))

0.25
0.5

In [ ]:
import math

# Example dataset
data = [1, 2, 3, 4, 5]

# MSE
target = [1, 2, 3, 4, 5]
predictions = [2, 3, 4, 5, 6]
mse = sum([(t-p)**2 for t,p in zip(target, predictions)]) / len(target)
print("MSE:", mse)

# RMSE
rmse = math.sqrt(mse)
print("RMSE:", rmse)

In [ ]:
import numpy as np
import pandas as pd

def mse(y_true, y_pred):
    """
    Calculate Mean Squared Error (MSE)
    """
    mse = np.mean((y_true - y_pred)**2)
    return mse

def rmse(y_true, y_pred):
    """
    Calculate Root Mean Squared Error (RMSE)
    """
    mse_val = mse(y_true, y_pred)
    rmse = np.sqrt(mse_val)
    return rmse


y_true = pd.Series([1, 2, 3, 4, 5])
y_pred = pd.Series([1.5, 2.5, 3.5, 4.5, 5.5])

print(mse(y_true, y_pred))
print(rmse(y_true, y_pred))

0.25
0.5

In [ ]:
#SQLite3
-- calculate MSE
SELECT AVG((prediction - actual) * (prediction - actual)) AS mse
FROM predictions;

-- calculate RMSE
SELECT SQRT(AVG((prediction - actual) * (prediction - actual))) AS rmse
FROM predictions;

#MySQL
-- calculate MSE
SELECT AVG((prediction - actual) * (prediction - actual)) AS mse
FROM predictions;

-- calculate RMSE
SELECT SQRT(AVG((prediction - actual) * (prediction - actual))) AS rmse
FROM predictions;

In [ ]:
import sqlite3
import math

# create a SQLite3 database connection
conn = sqlite3.connect('example.db')

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# create a table and insert the predictions and actual values into it
create_table_query = "CREATE TABLE predictions (prediction REAL, actual REAL)"
insert_query = "INSERT INTO predictions (prediction, actual) VALUES (?, ?)"
cursor.execute(create_table_query)
data = [(3.5, 4.0), (2.0, 1.5), (1.0, 1.5), (2.5, 3.0), (3.0, 2.5)]
cursor.executemany(insert_query, data)

# calculate MSE using the SQL query
mse_query = "SELECT AVG((prediction - actual) * (prediction - actual)) AS mse FROM predictions"
cursor.execute(mse_query)
mse = cursor.fetchone()[0]

# calculate RMSE using the SQL query
rmse_query = "SELECT SQRT(AVG((prediction - actual) * (prediction - actual))) AS rmse FROM predictions"
cursor.execute(rmse_query)
rmse = cursor.fetchone()[0]

# print the MSE and RMSE
print("MSE:", mse)
print("RMSE:", rmse)

# close the cursor and database connection
cursor.close()
conn.close()

In [ ]:
import mysql.connector
import math

# create a MySQL database connection
conn = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="example"
)

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# create a table and insert the predictions and actual values into it
create_table_query = "CREATE TABLE predictions (prediction FLOAT, actual FLOAT)"
insert_query = "INSERT INTO predictions (prediction, actual) VALUES (%s, %s)"
data = [(3.5, 4.0), (2.0, 1.5), (1.0, 1.5), (2.5, 3.0), (3.0, 2.5)]
cursor.execute(create_table_query)
cursor.executemany(insert_query, data)
conn.commit()

# calculate MSE using the SQL query
mse_query = "SELECT AVG((prediction - actual) * (prediction - actual)) AS mse FROM predictions"
cursor.execute(mse_query)
mse = cursor.fetchone()[0]

# calculate RMSE using the SQL query
rmse_query = "SELECT SQRT(AVG((prediction - actual) * (prediction - actual))) AS rmse FROM predictions"
cursor.execute(rmse_query)
rmse = cursor.fetchone()[0]

# print the MSE and RMSE
print("MSE:", mse)
print("RMSE:", rmse)

# close the cursor and database connection
cursor.close()
conn.close()

# ***Variance***

*is defined as the average of the squared distance from each point to the mean*

*is the measure of how notably a collection of data is spread out.*

* E(X) = ฮผ= ฮฃi xi pi       i = 1, 2, โฆ, n

* E(X) = x1p1 + x2p2 + โฆ + xnpn.

***https://byjus.com/maths/mean-squared-error/***

In [ ]:
def variance(numbers):
    n = len(numbers)
    mean = sum(numbers) / n
    variance = sum((x - mean) ** 2 for x in numbers) / (n - 1)
    return variance

numbers = [2, 4, 6, 8, 10]
variance_of_numbers = variance(numbers)
print("The variance of the numbers is:", variance_of_numbers)

The variance of the numbers is: 10.0

In [ ]:
import math

# Example dataset
#data = [1, 2, 3, 4, 5]
data =[2, 4, 6, 8, 10]

# Mean
mean = sum(data) / len(data)

# Variance
variance = sum([(d-mean)**2 for d in data]) / len(data)
print("Variance:", variance)

Variance: 8.0

In [ ]:
import statistics

# Create a list of numbers
numbers = [2, 4, 6, 8, 10]

# Calculate the variance
variance = statistics.variance(numbers)

# Print the variance
print("Variance of the list:", variance)

Variance of the list: 10

In [ ]:
import numpy as np

# Create a NumPy array of numbers
numbers = np.array([2, 4, 6, 8, 10])

# Calculate the variance using NumPy
variance = np.var(numbers)

# Print the variance
print("The variance of the numbers using NumPy is:", variance)

The variance of the numbers using NumPy is: 8.0

In [ ]:
import pandas as pd

# Create a Pandas Series of numbers
numbers = pd.Series([2, 4, 6, 8, 10])

# Calculate the variance using Pandas
variance = numbers.var()

# Print the variance
print("The variance of the numbers using Pandas is:", variance)

The variance of the numbers using Pandas is: 10.0

In [ ]:
import sqlite3
import math

# create a SQLite3 database connection
conn = sqlite3.connect('example.db')

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# calculate variance using the SQL query
var_query = """
    SELECT AVG((value - mean) * (value - mean)) AS variance
    FROM (
        SELECT AVG(value) AS mean, value
        FROM data
        GROUP BY id
    );
"""
cursor.execute(var_query)
variance = cursor.fetchone()[0]

# print the result
print("Variance:", variance)

# close the cursor and database connection
cursor.close()
conn.close()

In [ ]:
import mysql.connector
import math

# create a MySQL database connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="example"
)

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# calculate variance using the SQL query
var_query = """
    SELECT AVG((value - mean) * (value - mean)) AS variance
    FROM (
        SELECT AVG(value) AS mean, value
        FROM data
        GROUP BY id
    ) AS subquery;
"""
cursor.execute(var_query)
variance = cursor.fetchone()[0]

# print the result
print("Variance:", variance)

# close the cursor and database connection
cursor.close()
conn.close()

# ***Standard deviation***

*is a measure which shows how much variation (such as spread, dispersion) from the mean exists.*  

ฯ = โx  

***https://byjus.com/maths/difference-between-variance-and-standard-deviation/***

In [ ]:
# Define the standard deviation function
def std_dev(numbers):
    n = len(numbers)
    mean = sum(numbers) / n
    std_dev = (sum((x - mean) ** 2 for x in numbers) / (n - 1)) ** 0.5
    return std_dev

# Example usage
numbers = [1, 2, 3, 4, 5]
std_dev_of_numbers = std_dev(numbers)
print("The standard deviation of the numbers is:", std_dev_of_numbers)

The standard deviation of the numbers is: 1.5811388300841898

In [ ]:
import math

# Example dataset
data = [1, 2, 3, 4, 5]

# Variance
variance = sum([(d-mean)**2 for d in data]) / len(data)

# Standard deviation
std_dev = math.sqrt(variance)
print("Standard deviation:", std_dev)

Standard deviation: 3.3166247903554

In [ ]:
import statistics

# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Calculate the standard deviation using statistics module
std_dev = statistics.stdev(numbers)

# Print the standard deviation
print("The standard deviation using statistics module is:", std_dev)

The standard deviation using statistics module is: 1.5811388300841898

In [ ]:
import numpy as np

# Create a NumPy array of numbers
numbers = np.array([1, 2, 3, 4, 5])

# Calculate the standard deviation using NumPy
std_dev = np.std(numbers)

# Print the standard deviation
print("The standard deviation using NumPy is:", std_dev)

The standard deviation using NumPy is: 1.4142135623730951

In [ ]:
import pandas as pd

# Create a Pandas Series of numbers
numbers = pd.Series([1, 2, 3, 4, 5])

# Calculate the standard deviation using Pandas
std_dev = numbers.std()

# Print the standard deviation
print("The standard deviation using Pandas is:", std_dev)

The standard deviation using Pandas is: 1.5811388300841898

In [ ]:
import sqlite3
import math

# create a SQLite3 database connection
conn = sqlite3.connect('example.db')

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# calculate standard deviation using the SQL query
stddev_query = """
    SELECT SQRT(AVG((value - mean) * (value - mean))) AS stddev
    FROM (
        SELECT AVG(value) AS mean, value
        FROM data
        GROUP BY id
    );
"""
cursor.execute(stddev_query)
stddev = cursor.fetchone()[0]

# print the result
print("Standard deviation:", stddev)

# close the cursor and database connection
cursor.close()
conn.close()

In [ ]:
import mysql.connector
import math

# create a MySQL database connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="example"
)

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# calculate standard deviation using the SQL query
stddev_query = """
    SELECT SQRT(AVG((value - mean) * (value - mean))) AS stddev
    FROM (
        SELECT AVG(value) AS mean, value
        FROM data
        GROUP BY id
    ) AS subquery;
"""
cursor.execute(stddev_query)
stddev = cursor.fetchone()[0]

# print the result
print("Standard deviation:", stddev)

# close the cursor and database connection
cursor.close()
conn.close()

# ***min***

In [ ]:
x = [0, -1, 4, 3, 5]
min = x[0]
for i in x:
  if i <= min:
    min = i
print(min)

-1

In [ ]:
#min function
x = [8, 9, 4, 3, 5]
def min(x):
  min = x[0]
  for i in x:
    if i <= min:
      min = i
  return min

min(x)

3

In [ ]:
import math

# Example dataset
data = [1, 2, 3, 4, 5]
# min
min_val = min(data)
print("Min:", min_val)

Min: 1

In [ ]:
# built-in min func
data = [8, 9, 4, 3, 5]

minimum_value = min(data)

print(minimum_value)

3

In [ ]:
import numpy as np

arr = np.array([8, 9, 4, 3, 5])

minimum_value = np.min(arr)

print(minimum_value)

3

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [8, 9, 4, 3, 5], 'B': [6, 5, 7, 4, 3]})

minimum_value = df.min().min()

print(minimum_value)

3

In [ ]:
import sqlite3

# create a SQLite3 database connection
conn = sqlite3.connect('example.db')

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# execute the SQL query to find the minimum value in the table
min_query = "SELECT MIN(value) FROM data;"
cursor.execute(min_query)
min_value = cursor.fetchone()[0]

# print the result
print("Minimum value:", min_value)

# close the cursor and database connection
cursor.close()
conn.close()

In [ ]:
import mysql.connector

# create a MySQL database connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="example"
)

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# execute the SQL query to find the minimum value in the table
min_query = "SELECT MIN(value) FROM data;"
cursor.execute(min_query)
min_value = cursor.fetchone()[0]

# print the result
print("Minimum value:", min_value)

# close the cursor and database connection
cursor.close()
conn.close()

# ***max***

In [ ]:
x = [6, 2, 8, 1, 2]
maxi = x[0]
for i in x:
  if i >= maxi:
    maxi = i
print(maxi)

8

In [ ]:
#max fun
def maximum(x):
  maxi = x[0]
  for i in x:
    if i >= maxi:
      maxi = i
  return maxi  

x = [6, 2, 8, 1, 2]
maximum(x)

8

In [ ]:
import math

# Example dataset
data = [1, 2, 3, 4, 5]

max_val = max(data)

print("Max:", max_val)

Max: 5

In [ ]:
# built-in max function
data = [6, 2, 8, 1, 2]

max_value = max(data)

print(max_value)

8

In [ ]:
import numpy as np

arr = np.array([2, 3, 1, 4, 5])

maximum_value = np.max(arr)

print(maximum_value)

5

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [2, 3, 1, 4, 5], 'B': [6, 5, 7, 4, 3]})

maximum_value = df.max().max()

print(maximum_value)

7

In [ ]:
import pandas as pd

# Create a DataFrame with two columns, 'A' and 'B'
df = pd.DataFrame({'A': [2, 3, 1, 4, 5], 'B': [6, 5, 7, 4, 3]})

# Use the max() function on the DataFrame to find the maximum value in each column
max_by_column = df.max()

# max_by_column is now a Series object, which contains the maximum value for each column
# We can use the max() function again on this Series to find the overall maximum value
max_value = max_by_column.max()

print(max_value)

In [ ]:
import sqlite3

# create a SQLite3 database connection
conn = sqlite3.connect('example.db')

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# execute the SQL query to find the maximum value in the table
max_query = "SELECT MAX(value) FROM data;"
cursor.execute(max_query)
max_value = cursor.fetchone()[0]

# print the result
print("Maximum value:", max_value)

# close the cursor and database connection
cursor.close()
conn.close()

In [ ]:
import mysql.connector

# create a MySQL database connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="example"
)

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# execute the SQL query to find the maximum value in the table
max_query = "SELECT MAX(value) FROM data;"
cursor.execute(max_query)
max_value = cursor.fetchone()[0]

# print the result
print("Maximum value:", max_value)

# close the cursor and database connection
cursor.close()
conn.close()

# ***Accuracy***

*Accuracy = (True positives + True Negatives)/ (True positives + True negatives + False positives + False negatives)*

In [ ]:
import numpy as np

def accuracy(y_true, y_pred):
    """
    Calculates the accuracy of a classification model given true and predicted labels.
    
    Args:
        y_true (numpy.ndarray): The true labels of the data.
        y_pred (numpy.ndarray): The predicted labels of the data.
    
    Returns:
        The accuracy of the model as a decimal value between 0 and 1.
    """
    return np.mean(y_true == y_pred)

y_true = np.array([1, 0, 1, 0, 1])
y_pred = np.array([1, 1, 0, 0, 1])
acc = accuracy(y_true, y_pred)
print(acc)

0.6

In [ ]:
import pandas as pd

def accuracy(y_true, y_pred):
    """
    Calculates the accuracy of a classification model given true and predicted labels.
    
    Args:
        y_true (pandas.Series): The true labels of the data.
        y_pred (pandas.Series): The predicted labels of the data.
    
    Returns:
        The accuracy of the model as a decimal value between 0 and 1.
    """
    return (y_true == y_pred).mean()

y_true = pd.Series([1, 0, 1, 0, 1])
y_pred = pd.Series([1, 1, 0, 0, 1])
acc = accuracy(y_true, y_pred)
print(acc)

0.6

In [ ]:
import sqlite3
from sklearn.metrics import accuracy_score

# create a SQLite3 database connection
conn = sqlite3.connect('example.db')

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# execute the SQL query to retrieve the predicted and actual values
data_query = "SELECT predicted_value, actual_value FROM data;"
cursor.execute(data_query)
data = cursor.fetchall()

# extract the predicted and actual values into separate lists
predicted_values = [row[0] for row in data]
actual_values = [row[1] for row in data]

# calculate the accuracy
accuracy = accuracy_score(actual_values, predicted_values)

# print the result
print("Accuracy:", accuracy)

# close the cursor and database connection
cursor.close()
conn.close()

In [ ]:
import mysql.connector
from sklearn.metrics import accuracy_score

# create a MySQL database connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="example"
)

# create a cursor object to execute SQL queries
cursor = conn.cursor()

# execute the SQL query to retrieve the predicted and actual values
data_query = "SELECT predicted_value, actual_value FROM data;"
cursor.execute(data_query)
data = cursor.fetchall()

# extract the predicted and actual values into separate lists
predicted_values = [row[0] for row in data]
actual_values = [row[1] for row in data]

# calculate the accuracy
accuracy = accuracy_score(actual_values, predicted_values)

# print the result
print("Accuracy:", accuracy)

# close the cursor and database connection
cursor.close()
conn.close()

# ***Precision***

*Precision = True positives/ (True positives + False positives)*

In [ ]:
import numpy as np

def precision(y_true, y_pred):
    """
    Calculates the precision of a classification model given true and predicted labels.
    
    Args:
        y_true (numpy.ndarray): The true labels of the data.
        y_pred (numpy.ndarray): The predicted labels of the data.
    
    Returns:
        The precision of the model as a decimal value between 0 and 1.
    """
    true_positives = np.sum((y_true == 1) & (y_pred == 1))
    false_positives = np.sum((y_true == 0) & (y_pred == 1))
    return true_positives / (true_positives + false_positives)

y_true = np.array([1, 0, 1, 0, 1])
y_pred = np.array([1, 1, 0, 0, 1])
prec = precision(y_true, y_pred)
print(prec)

0.6666666666666666

In [ ]:
import pandas as pd

def precision(y_true, y_pred):
    """
    Calculates the precision of a classification model given true and predicted labels.
    
    Args:
        y_true (pandas.Series): The true labels of the data.
        y_pred (pandas.Series): The predicted labels of the data.
    
    Returns:
        The precision of the model as a decimal value between 0 and 1.
    """
    true_positives = ((y_true == 1) & (y_pred == 1)).sum()
    false_positives = ((y_true == 0) & (y_pred == 1)).sum()
    return true_positives / (true_positives + false_positives)

y_true = pd.Series([1, 0, 1, 0, 1])
y_pred = pd.Series([1, 1, 0, 0, 1])
prec = precision(y_true, y_pred)
print(prec)

0.6666666666666666

In [ ]:
SELECT COUNT(*) as TP FROM table WHERE predicted_class = 'positive' AND actual_class = 'positive';
SELECT COUNT(*) as FP FROM table WHERE predicted_class = 'positive' AND actual_class = 'negative';

SELECT TP / (TP + FP) as precision FROM 
(SELECT COUNT(*) as TP FROM table WHERE predicted_class = 'positive' AND actual_class = 'positive') as T,
(SELECT COUNT(*) as FP FROM table WHERE predicted_class = 'positive' AND actual_class = 'negative') as F;

In [ ]:
import sqlite3

conn = sqlite3.connect('database.db')
c = conn.cursor()

# Count number of true positives
c.execute("SELECT COUNT(*) as TP FROM table WHERE predicted_class = 'positive' AND actual_class = 'positive'")
TP = c.fetchone()[0]

# Count number of false positives
c.execute("SELECT COUNT(*) as FP FROM table WHERE predicted_class = 'positive' AND actual_class = 'negative'")
FP = c.fetchone()[0]

# Calculate precision
precision = TP / (TP + FP)

print("Precision:", precision)

conn.close()

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

# Count number of true positives
mycursor.execute("SELECT COUNT(*) as TP FROM table WHERE predicted_class = 'positive' AND actual_class = 'positive'")
TP = mycursor.fetchone()[0]

# Count number of false positives
mycursor.execute("SELECT COUNT(*) as FP FROM table WHERE predicted_class = 'positive' AND actual_class = 'negative'")
FP = mycursor.fetchone()[0]

# Calculate precision
precision = TP / (TP + FP)

print("Precision:", precision)

mydb.close()

# ***Recall***

*Recall = [tp/tp+fn]*

In [ ]:
import numpy as np

def recall(y_true, y_pred):
    """
    Calculates the recall of a classification model given true and predicted labels.
    
    Args:
        y_true (numpy.ndarray): The true labels of the data.
        y_pred (numpy.ndarray): The predicted labels of the data.
    
    Returns:
        The recall of the model as a decimal value between 0 and 1.
    """
    true_positives = np.sum((y_true == 1) & (y_pred == 1))
    false_negatives = np.sum((y_true == 1) & (y_pred == 0))
    return true_positives / (true_positives + false_negatives)

y_true = np.array([1, 0, 1, 0, 1])
y_pred = np.array([1, 1, 0, 0, 1])
rec = recall(y_true, y_pred)
print(rec)

0.6666666666666666

In [ ]:
import pandas as pd

def recall(y_true, y_pred):
    """
    Calculates the recall of a classification model given true and predicted labels.
    
    Args:
        y_true (pandas.Series): The true labels of the data.
        y_pred (pandas.Series): The predicted labels of the data.
    
    Returns:
        The recall of the model as a decimal value between 0 and 1.
    """
    true_positives = ((y_true == 1) & (y_pred == 1)).sum()
    false_negatives = ((y_true == 1) & (y_pred == 0)).sum()
    return true_positives / (true_positives + false_negatives)

y_true = pd.Series([1, 0, 1, 0, 1])
y_pred = pd.Series([1, 1, 0, 0, 1])

rec = recall(y_true, y_pred)

print(rec)

0.6666666666666666

In [ ]:
SELECT COUNT(*) as TP FROM table WHERE predicted_class = 'positive' AND actual_class = 'positive';
SELECT COUNT(*) as FN FROM table WHERE predicted_class = 'negative' AND actual_class = 'positive';

SELECT TP / (TP + FN) as recall FROM 
(SELECT COUNT(*) as TP FROM table WHERE predicted_class = 'positive' AND actual_class = 'positive') as T,
(SELECT COUNT(*) as FN FROM table WHERE predicted_class = 'negative' AND actual_class = 'positive') as F;

In [ ]:
import sqlite3

conn = sqlite3.connect('database.db')
c = conn.cursor()

# Count number of true positives
c.execute("SELECT COUNT(*) as TP FROM table WHERE predicted_class = 'positive' AND actual_class = 'positive'")
TP = c.fetchone()[0]

# Count number of false negatives
c.execute("SELECT COUNT(*) as FN FROM table WHERE predicted_class = 'negative' AND actual_class = 'positive'")
FN = c.fetchone()[0]

# Calculate recall
recall = TP / (TP + FN)

print("Recall:", recall)

conn.close()

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

# Count number of true positives
mycursor.execute("SELECT COUNT(*) as TP FROM table WHERE predicted_class = 'positive' AND actual_class = 'positive'")
TP = mycursor.fetchone()[0]

# Count number of false negatives
mycursor.execute("SELECT COUNT(*) as FN FROM table WHERE predicted_class = 'negative' AND actual_class = 'positive'")
FN = mycursor.fetchone()[0]

# Calculate recall
recall = TP / (TP + FN)

print("Recall:", recall)

mydb.close()

# ***f1-score***

* [2*{precision*recall/precision+recall}])

In [ ]:
import numpy as np

def f1_score(y_true, y_pred):
    """
    Calculates the F1-score of a classification model given true and predicted labels.
    
    Args:
        y_true (numpy.ndarray): The true labels of the data.
        y_pred (numpy.ndarray): The predicted labels of the data.
    
    Returns:
        The F1-score of the model as a decimal value between 0 and 1.
    """
    p = precision(y_true, y_pred)
    r = recall(y_true, y_pred)
    return 2 * p * r / (p + r)

y_true = np.array([1, 0, 1, 0, 1])
y_pred = np.array([1, 1, 0, 0, 1])
f1 = f1_score(y_true, y_pred)
print(f1)

0.6666666666666666

In [ ]:
import pandas as pd

def f1_score(y_true, y_pred):
    """
    Calculates the F1-score of a classification model given true and predicted labels.
    
    Args:
        y_true (pandas.Series): The true labels of the data.
        y_pred (pandas.Series): The predicted labels of the data.
    
    Returns:
        The F1-score of the model as a decimal value between 0 and 1.
    """
    p = precision(y_true, y_pred)
    r = recall(y_true, y_pred)
    return 2 * p * r / (p + r)

y_true = pd.Series([1, 0, 1, 0, 1])
y_pred = pd.Series([1, 1, 0, 0, 1])

f1 = f1_score(y_true, y_pred)

print(f1)

0.6666666666666666

In [ ]:
F1-score = 2 * precision * recall / (precision + recall)

In [ ]:
SELECT SUM(CASE WHEN actual = 1 AND predicted = 1 THEN 1 ELSE 0 END) AS TP,
       SUM(CASE WHEN actual = 0 AND predicted = 1 THEN 1 ELSE 0 END) AS FP,
       SUM(CASE WHEN actual = 1 AND predicted = 0 THEN 1 ELSE 0 END) AS FN
FROM classification_results;


SELECT SUM(CASE WHEN actual = 1 AND predicted = 1 THEN 1 ELSE 0 END) AS TP,
       SUM(CASE WHEN actual = 0 AND predicted = 1 THEN 1 ELSE 0 END) AS FP,
       SUM(CASE WHEN actual = 1 AND predicted = 0 THEN 1 ELSE 0 END) AS FN
FROM classification_results;

# metrics

In [ ]:
# Accuracy, Precision, Recall, F1-score
true_positives = 10
false_positives = 2
true_negatives = 5
false_negatives = 3

accuracy = (true_positives + true_negatives) / (true_positives + false_positives + true_negatives + false_negatives)
precision = true_positives / (true_positives + false_positives)
recall = true_positives / (true_positives + false_negatives)
f1_score = 2 * (precision * recall) / (precision + recall)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

In [ ]:
def calculate_metrics(y_true, y_pred):
    TP = sum([1 for i in range(len(y_true)) if y_true[i] == y_pred[i] == 1])
    FP = sum([1 for i in range(len(y_true)) if y_true[i] == 0 and y_pred[i] == 1])
    FN = sum([1 for i in range(len(y_true)) if y_true[i] == 1 and y_pred[i] == 0])
    TN = sum([1 for i in range(len(y_true)) if y_true[i] == y_pred[i] == 0])

    accuracy = (TP + TN) / (TP + FP + FN + TN)
    precision = TP / (TP + FP)
    recall = TP / (TP + FN)
    f1_score = 2 * precision * recall / (precision + recall)

    return accuracy, precision, recall, f1_score

# Example usage:
y_true = [1, 1, 0, 0, 1]
y_pred = [1, 1, 0, 0, 1]

accuracy, precision, recall, f1_score = calculate_metrics(y_true, y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1-score: 1.0

In [ ]:
#@title
def calculate_metrics(y_true, y_pred):
    # True Positives (TP): we predict a label of 1 (positive), and the true label is 1.
    TP = sum((y_true == 1) & (y_pred == 1))

    # False Positives (FP): we predict a label of 1 (positive), but the true label is 0 (negative).
    FP = sum((y_true == 0) & (y_pred == 1))

    # True Negatives (TN): we predict a label of 0 (negative), and the true label is 0.
    TN = sum((y_true == 0) & (y_pred == 0))

    # False Negatives (FN): we predict a label of 0 (negative), but the true label is 1 (positive).
    FN = sum((y_true == 1) & (y_pred == 0))

    # Accuracy: the proportion of true results (both true positives and true negatives) among the total number of cases examined.
    accuracy = (TP + TN) / (TP + TN + FP + FN)

    # Precision: the proportion of true positives among the total number of positive results (both true positives and false positives).
    precision = TP / (TP + FP)

    # Recall: the proportion of true positives among the total number of actual positives (both true positives and false negatives).
    recall = TP / (TP + FN)

    # F1-Score: a weighted average of the precision and recall, where an F1 score reaches its best value at 1 and worst score at 0.
    f1_score = 2 * precision * recall / (precision + recall)

    return accuracy, precision, recall, f1_score